
#header{
    padding-left: 15px;
 position: fixed;
 box-sizing: border-box;
 padding-top: 50px;

 
width: 29%;
float: left;
background-color: #F9F9F9;
height: 1450px;
border-radius: 50px;
text-decoration: none;
}


.div2
{
    border-radius: 5px;
    float: right;
    width: 70%;
    
    background-color: #FFFFFF;
    font-family: sans-serif;
    }

img{
    text-align: center;
    width: 250px;
  height: 250px;
  border-radius: 10px;
    
}

#name  {
    color:black;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.Email a{
    color:black;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:15px;
    
}

#contact
{
color:black;
font-size:13px ;
font-family:Verdana, Geneva, Tahoma, sans-serif

}

    
h3
{
    text-decoration: underline;
    }

#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
table
{
    border: 1px dashed black;
    }
td
{
    padding: 2px;
    border: 1px solid black;
    }

#course-name
{
    font-weight:bold;
    }

#company-name
{
    height:2px;
    text-decoration:underline;
    }
#job-title
{
    height: 5px;
    }
.job-duration
{
    float:right;
    }
#heading
{
    font-weight:bold;
    }